.container,
.container-fluid{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
.row{
	margin-right:-15px;
	margin-left:-15px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after{
	content:'';
	display:table;
}
.container:after,
.container-fluid:after,
.row:after{
	clear:both;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
}
@media(min-width:768px){
	.container{
		width:750px;
	}
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12{
		float:left;
		border:1px solid #09C;
	}
	.c1{
		width:8.33333333%;	
	}
	.c2{
		width:16.66666667%;	
	}
	.c3{
		width:25%;	
	}
	.c4{
		width:33.33333333%;	
	}
	.c5{
		width:41.66666667%;	
	}
	.c6{
		width:50%;	
	}
	.c7{
		width:58.33333333%;	
	}
	.c8{
		width:66.66666667%;	
	}
	.c9{
		width:75%;	
	}
	.c10{
		width:83.33333333%;	
	}
	.c11{
		width:91.66666667%;	
	}
	.c12{
		width:100%;	
	}
}
@media(min-width:992px){
	.container{
		width:970px;
	}
}
@media(min-width:1200px){
	.container{
		width:1170px;
	}
}
